/* css for index */
/* The HTML and CSS Workshop; bogen */
body {
  margin: 0px;
  padding: 0px;
  font-family: inherit;
  scroll-behavior: smooth;
  background-color: #F8F5F1;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* https://www.youtube.com/watch?v=LUSa3yRTB9A&t=171s  */
#main {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0,0,0,0.1),#000000),url(../Billeder/mig.jpg);
  background-size: cover;
  background-position: center;
}
.logo img{
  height: 65px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #F8F5F1;
}
nav ul {
  display: flex;
}
nav ul li a {
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 45px;
  display: flex;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  color: black;
  letter-spacing: 1px;
}
nav ul li a:hover {
  color: grey;
}
.main-text {
  width: 100px;
  text-align: center;
}
.main-text h1 {
  color: #F8F5F1;
  position: absolute;
  font-family: 'Lora';
  top: 50%;
  left: 55%;
  transform: translate(-63%, -50%);
  font-size: 25px;
  font-weight: 300;
}
nav .menu-btn {
  display: none;
}
/* https://www.youtube.com/watch?v=ZFQkb26UD1Y&t=11278s */
#footer {
  background-color: #262626;
}
#footer .footer {
  padding-top: 20px;
  padding-bottom: 10px;
}
#footer p {
  color: white;
  font-size: 15px;
  font-weight: 500;
}
/* End of css for FORSIDE */

/* css for OM */
#om {
  flex-direction: column;
  text-align: center;
}
#om .om-img img{
  width: 100%;
}
#om .om-text {
  padding: 100px;
}
#om .om-text h2 {
  color: black;
  font-family: 'Lora';
  font-size: 20px;
  font-weight: 600;
}
#om .om-text p {
  color: black;
  font-family: 'Lora';
  font-size: 17px;
  font-weight: 300;
  margin: 55px;
}
/* End css for OM */

/* css for FÆRDIGHEDER */
#skill {
  flex-direction: column;
  text-align: center;
}
.skill-img img{
  width: 100%;
}
#skill .skill-text {
  padding: 5px;
  margin: 65px;
}
#skill .skill-text h1 {
  color: black;
  font-family: 'Lora';
  font-size: 17px;
  font-weight: 600;
}
#skill .skill-text p {
  color: black;
  font-family: 'Lora';
  font-size: 15px;
  font-weight: 300;
  margin: 55px;
}
#skill .skill-text h2 {
  color: black;
  font-family: 'Lora';
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 5px;
}
/* https://www.youtube.com/watch?v=iwoIuyRHy88&t=927s */
#skill .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
#skill .button {
  display: flex;
  flex-direction: column;
}
#skill .btn {
  text-decoration: none;
  padding: 20px 50px;
  font-size: 15px;
  position: relative;
  margin: 32px;
}
#skill .btn-1 {
  color: black;
}
#skill .btn-1::after, .btn-1::before {
  border: 3px solid black;
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.3s ease;
}
#skill .btn-1:hover::after {
  transform: translate(-5px, -5px);
}
#skill .btn-1:hover::before {
  transform: translate(5px, 5px);
}
/* End css for FÆRDIGHEDER */
/* https://www.youtube.com/watch?v=ZFQkb26UD1Y&t=11278s */
/* css for PORTFOLIO */
#portfolio {
  flex-direction: column;
  text-align: center;
}
.portfolio-img img{
  width: 100%;
}
#portfolio .portfolio-text img {
  width: 55%;
}
#portfolio .portfolio-text {
  padding: 5px;
  margin: 65px;
}
#portfolio .portfolio-text h1 {
  color: black;
  font-family: 'Lora';
  font-size: 20px;
  font-weight: 600;
}
#portfolio .portfolio-text p {
  color: black;
  font-family: 'Lora';
  font-size: 15px;
  font-weight: 300;
  margin: 55px;
}
#portfolio .portfolio-text h2 {
  color: black;
  font-family: 'Lora';
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 5px;
}
/* https://www.youtube.com/watch?v=iwoIuyRHy88&t=927s */
#portfolio .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
#portfolio .button {
  display: flex;
  flex-direction: column;
}
#portfolio .btn {
  text-decoration: none;
  padding: 20px 50px;
  font-size: 15px;
  position: relative;
  margin: 32px;
}
#portfolio .btn-1 {
  color: black;
}
#portfolio .btn-1::after, .btn-1::before {
  border: 3px solid black;
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.3s ease;
}
#portfolio .btn-1:hover::after {
  transform: translate(-5px, -5px);
}
#portfolio .btn-1:hover::before {
  transform: translate(5px, 5px);
}
/* End css for PORTFOLIO */
/* https://www.youtube.com/watch?v=ZFQkb26UD1Y&t=11278s */
/* css for KONTAKT */
#kontakt .kontakt{
  flex-direction: column;
  text-align: center;
}
#kontakt .kontakt-img img{
  width: 100%;
}
#kontakt .kontakt-text {
  padding: 50px;
}
#kontakt .kontakt-text h1 {
  color: black;
  font-family: 'Lora';
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
#kontakt .icon {
  width: 70px;
  margin: 0 auto;
}
#kontakt .kontakt-info h1 {
  color: black;
  font-family: 'Lora';
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 5px;
}
#kontakt .kontakt-info p {
  color: black;
  font-family: 'Lora';
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}
#kontakt .social-icon h1{
  color: black;
  font-family: 'Lora';
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 5px;
}
/* End css for KONTAKT */
/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
/* Media Query */
@media (max-width:1140px) {
  .main {
    width: 100%;
  }
  .main-text {
    margin: 10px;
  }
}
@media(max-width:900px) {
  nav {
    justify-content: space-between;
    height: 65px;
    padding: 0px 30px;
  }
  .menu {
    display: none;
    position: absolute;
    top: 65px;
    left: 0px;
    width: 100%;
    padding: 0px;
    background-color: #F8F5F1;
    margin: 0px;
  }
  .menu li {
    width: 100%;
  }
  nav .menu li a {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 25px;
  }
  nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  nav .menu-icon .nav-icon {
    background-color: black;
    display: block;
    height: 2px;
    position: relative;
    transition: 0.2s ease-out;
    width: 18px;
  }
  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after {
    background: #333;
    content:'';
    display: block;
    height: 100%;
    padding: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }
  nav .menu-icon .nav-icon:before {
    top:5px;
  }
  nav .menu-icon .nav-icon:after {
    top: -5px;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}
  nav .menu-btn {
    display: none;
}
  nav .menu-btn:checked ~ .menu {
    display: block;
  }
}
@media (max-width:720px) {
  .main-text {
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
